<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Completed successfully</h2>
        <p>now you can Log in to your account</p>
        <hr/>
        <h3>Thank you!</h3>
    </div>
</div>
